:root {
  // // *NOTE: COLORS

  // --clr-white: 0 100% 100%;
  // --clr-black: 0 0% 0%;
  // // grey
  // --clr-grey-600: 180 25% 32%;
  // --clr-grey-550: 180 18% 40%;
  // --clr-grey-500: 184 14% 43%;
  // --clr-grey-400: 184 14% 56%;
  // --clr-grey-300: 184 19% 68%;
  // --clr-grey-200: 185 41% 84%;
  // --clr-grey-50: 189 47% 97%;

  // // green
  // --clr-green-900: 183 100% 15%;
  // --clr-green-800: 183 85% 21%;
  // --clr-green-750: 183 79% 24%;
  // --clr-green-400: 172 67% 45%;
  // --clr-green-200: 173 61% 77%;

  // --clr-orange-400: 13, 70% 60%;

  // //* NOTE: FONT FAMILY
  // /* font-family */
  // --ff-mono-normal: "Space Mono", monospace;

  //* NOTE: FONT SIZE
  --fs-900: 2.5rem; /* 40px */
  --fs-600: 1.125rem; /* 18px  */
  --fs-500: 1rem; /* 16px  */
  --fs-400: 0.9375rem; /* 15px */
  --fs-300: 0.875rem; /* 14px */
  --fs-200: 0.8125rem; /* 13px */
  --fs-100: 0.6875rem; /* 11px */
}
