:root {
  // NOTE: COLORS
  --clr-white: 0 100% 100%;
  --clr-black: 0 0% 0%;

  --clr-white-800: 0 0% 84%; /* #d5d5d5*/

  --clr-dark-800: 224 10% 6%; /* #161619 */
  --clr-dark-600: 0 0% 20%; /* #333333 */

  --clr-grey-500: 0 0% 33%; /*#555555*/
  --clr-grey-300: 0 0% 60%; /*#999999*/
  --clr-grey-200: 0 0% 75%; /*#BEBEBE*/
  --clr-grey-100: 0 1% 92%; /* #ECEBEB */

  --clr-orange-200: 24 100% 88%; /*#FFDBC3*/
  --clr-orange-100: 19 100% 96%; /*#FFF2EC*/

  --clr-green-200: 144 59% 75%; /* #99E5B7*/

  --clr-blue-700: 225 54% 27%; /* #1F3168 */

  --clr-blue-200: 229 100% 85%; /* #B2C0FF */
  --clr-blue-100: 215 100% 90%; /*#B2D2FF*/

  //* NOTE: FONT FAMILY
  --ff-sans-adlam-display: "ADLaM Display", sans-serif;
  --ff-sans-archivo-black: "Archivo Black", sans-serif;
  --ff-sans-be-vietnam-pro: "Be Vietnam Pro", sans-serif;
  --ff-sans-gaegu: "Gaegu", sans-serif;

  //* NOTE: FONT SIZE
  --fs-900: 2.5rem; /* 40px */
  --fs-700: 1.25rem; /*20px*/
  --fs-600: 1.125rem; /* 18px  */
  --fs-500: 1rem; /* 16px  */
  --fs-400: 0.9375rem; /* 15px */
  --fs-300: 0.875rem; /* 14px */
  --fs-200: 0.8125rem; /* 13px */
  --fs-100: 0.6875rem; /* 11px */
}

// NOTE: Add a responsive text here from mobile to desktop esp for fonts
