:root {
  // // *NOTE: COLORS

  --clr-white: 0 100% 100%;
  --clr-black: 0 0% 0%;

  --clr-white-800: 0 0% 84%; /* #d5d5d5*/

  --clr-dark-800: 224 10% 6%; /* #161619 */
  --clr-dark-600: 0 0% 20%; /* #333333 */

  --clr-grey-500: 0 0% 33%; /*555555*/
  --clr-grey-200: 0 0% 60%; /*999999*/
  --clr-grey-100: 0 0% 75%; /*BEBEBE*/

  --clr-orange-100: 19 100% 96%; /*FFF2EC*/

  --clr-green-200: 144 59% 75%; /*99E5B7*/

  --clr-blue-700: 225 54% 27%; /* #1F3168 */

  --clr-blue-200: 229 100% 85%; /* #B2C0FF */
  --clr-blue-100: 215 100% 90%; /*#B2D2FF*/

  // // grey
  // --clr-grey-600: 180 25% 32%;
  // --clr-grey-550: 180 18% 40%;
  // --clr-grey-500: 184 14% 43%;
  // --clr-grey-400: 184 14% 56%;
  // --clr-grey-300: 184 19% 68%;
  // --clr-grey-200: 185 41% 84%;
  // --clr-grey-50: 189 47% 97%;

  // // green
  // --clr-green-900: 183 100% 15%;
  // --clr-green-800: 183 85% 21%;
  // --clr-green-750: 183 79% 24%;
  // --clr-green-400: 172 67% 45%;
  // --clr-green-200: 173 61% 77%;

  // --clr-orange-400: 13, 70% 60%;

  //* NOTE: FONT FAMILY
  --ff-sans-adlam-display: "ADLaM Display", sans-serif;
  --ff-sans-archivo-black: "Archivo Black", sans-serif;
  --ff-sans-be-vietnam-pro: "Be Vietnam Pro", sans-serif;
  --ff-sans-gaegu: "Gaegu", sans-serif;

  //* NOTE: FONT SIZE
  --fs-900: 2.5rem; /* 40px */
  --fs-700: 1.25rem; /*20px*/
  --fs-600: 1.125rem; /* 18px  */
  --fs-500: 1rem; /* 16px  */
  --fs-400: 0.9375rem; /* 15px */
  --fs-300: 0.875rem; /* 14px */
  --fs-200: 0.8125rem; /* 13px */
  --fs-100: 0.6875rem; /* 11px */
}
